[tool.poetry]
name = "nlp-service"
version = "0.3.2"
description = "Microservice for NLP tasks using gRPC"
authors = ["Mirko Lenz <info@mirko-lenz.de>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "http://recap.uni-trier.de"
repository = "https://github.com/ReCAP-UTR/NLP"

[tool.poetry.scripts]
nlp-service = "nlp_service.server:app"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
numpy = "^1.23.3"
scipy = "^1.9.1"
spacy = "^3.4.1"
arg-services = "^0.3.10"
nltk = "^3.7"
dataclasses-json = "^0.5.7"
gensim = { version = "^4.2.0", optional = true }
pyemd = { version = "^0.5.1", optional = true }
python-Levenshtein = { version = "^0.12.2", optional = true }
sentence-transformers = { version = "^2.2.2", optional = true }
# tensorflow = { version = "^2.10.0", optional = true }
# tensorflow-hub = { version = "^0.12.0", optional = true }
torch = { version = "^1.11.0", optional = true }
typer = { version = "^0.4.1", optional = true }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.extras]
wmd = ["gensim"]
server = [
    "gensim",
    "pyemd",
    "python-levenshtein",
    "sentence-transformers",
    # "tensorflow-hub",
    # "tensorflow",
    "torch",
    "typer",
]
